.container {
  margin: 100px auto 0;
  border-radius: 15px;
}

.captchaImg {
  width: 120px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
}

.captchaImg svg {
  width: 100%;
  height: 100%;
}

.radioGroup {
  width: 100%;
}

.radioButton {
  width: 50%;
  text-align: center;
}
